{
  "map": {
    "url":        "https://gomap.eu",
    "boundNorth": "__EDIT__",
    "boundEast":  "__EDIT__",
    "boundSouth": "__EDIT__",
    "boundWest":  "__EDIT__",
    "homeTown":   "__YOUR_HOMETOWN_NAME__",
    "districts": [
      {
        "name":       "__YOUR_DISTRICT_NAME__",
        "active":     false,
        "latitude":   "__EDIT__",
        "longitude":  "__EDIT__",
        "radiusKm":   8
      }
    ]
  },
  "raids": {
    "level5":     true,
    "level4":     [248],
    "latitude":   "__EDIT__",
    "longitude":  "__EDIT__",
    "radiusKm":   9
  },
  "file": {
    "maxeid":     "maxeid.txt",
    "maxgid":     "maxgid.txt",
    "ignoreList": "ignoreList.json",
    "nameList":   "nameList.json",
    "moveList":   "moveList.json"
  },
  "telegram": {
    "active":   true,
    "apiKey":   "__EDIT__",
    "botName":  "__EDIT__"
  },
  "discord": {
    "active":   true,
    "botName":  "PokeBot",
    "avatar":   "http://i.imgur.com/Su8yH00.png",
    "webhook":  "https://discordapp.com/api/webhooks/"
  },
  "channel": {
    "ivList": [
      {
        "name":     "__YOUR_HOMETOWN_NAME__",
        "active":   true,
        "fileName": "ivList.__YOUR_HOMETOWN_NAME__.json",
        "telegram": {
          "__YOUR_HOMETOWN_NAME__": "__CHAT_ID__"
        },
        "discord": {
          "__YOUR_HOMETOWN_NAME__": "__WEBHOOK__"
        }
      },
      {
        "name":     "__YOUR_DISTRICT_NAME__",
        "active":   false,
        "fileName": "ivList.__YOUR_DISTRICT_NAME__.json",
        "telegram": {
          "__YOUR_DISTRICT_NAME__": "__CHAT_ID__"
        },
        "discord": {
          "__YOUR_DISTRICT_NAME__": "__WEBHOOK__"
        }
      }
    ],
    "iv": [
      {
        "name":   "IV==100%",
        "active": false,
        "value":  100,
        "telegram": {
        },
        "discord": {
        }
      }
    ],
    "raid": [
      {
        "name": "Raid",
        "active": true,
        "telegram": {
          "__YOUR_HOMETOWN_NAME__": "__CHAT_ID__"
        },
        "discord": {
          "__YOUR_HOMETOWN_NAME__": "__WEBHOOK__"
        }
      }
    ],
    "pokemonId": [
      {
        "name":   "Icognito",
        "active": false,
        "ids":    [201],
        "telegram": {
          "__YOUR_HOMETOWN_NAME__": "__CHAT_ID__"
        },
        "discord": {
          "__YOUR_HOMETOWN_NAME__": "__WEBHOOK__"
        }
      },
      {
        "name":   "Dratini / Draginir",
        "active": false,
        "ids":    [147, 148],
        "telegram": {
        },
        "discord": {
        }
      },
      {
        "name":   "Larvitar / Pupitar / Despotar",
        "active": false,
        "ids":    [246, 247, 248],
        "telegram": {
        },
        "discord": {
        }
      },
      {
        "name":   "Relaxo",
        "active": false,
        "ids":    [143],
        "telegram": {
        },
        "discord": {
        }
      },
      {
        "name":   "Dragoran",
        "active": false,
        "ids":    [149],
        "telegram": {
        },
        "discord": {
        }
      },
      {
        "name":   "Garados",
        "active": false,
        "ids":    [130],
        "telegram": {
        },
        "discord": {
        }
      },
      {
        "name":   "Lapras",
        "active": false,
        "ids":    [131],
        "telegram": {
        },
        "discord": {
        }
      },
      {
        "name":   "Heiteira",
        "active": false,
        "ids":    [242],
        "telegram": {
        },
        "discord": {
        }
      }
    ]
  }
}